@model CategoryModel
@using FashionBoutik.Models

@using (Html.BeginForm("Add", "Category", new { area = "Admin", controller = "Category" }, FormMethod.Post, true, new { enctype = "multipart/form-data" }))
{
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "Add Category" })

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @if (@ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger">
            <i class="fa fa-warning"></i> @ViewBag.ErrorMessage
        </div>
    }

    <div class="modal-body form-horizontal">
        <div class="row">
            <div class="form-group col-md-12 col-sm-12">
                <label asp-for="CategoryName" class="col-md-3 col-sm-3 control-label"></label>
                <div class="col-md-9 col-sm-9">
                    <input asp-for="CategoryName" class="form-control" />
                    @Html.ValidationMessageFor(m => m.CategoryName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-12 col-sm-12">
                <label asp-for="Description" class="col-md-3 col-sm-3 control-label"></label>
                <div class="col-md-9 col-sm-9">
                    <input asp-for="Description" class="form-control" />
                    @Html.ValidationMessageFor(m => m.Description, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group  col-md-12 col-sm-12">
                <label asp-for="Image" class="col-md-3 col-sm-3 control-label"></label>
                <div class="col-md-9 col-sm-9">
                    <input asp-for="Image" class="form-control" />
                </div>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("_ModalFooter", new ModalFooter { SubmitButtonText = "Create" })
}
