@model CategoryModel
@using FashionBoutik.Models

@using (Html.BeginForm("Edit", "Category", new { area = "Admin", controller = "Category" }, FormMethod.Post, true, new { enctype = "multipart/form-data" }))
{
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "Edit Category" })

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @if (@ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger">
            <i class="fa fa-warning"></i> @ViewBag.ErrorMessage
        </div>
    }
    <div class="row">
        <div class="form-horizontal">
            <div class="form-group col-md-12 col-sm-12">
                @Html.HiddenFor(m => m.Id)
                <label asp-for="CategoryName" class="col-md-3 col-sm-3 control-label"></label>
                <div class="col-md-9 col-sm-9">
                    @Html.TextBoxFor(m => m.CategoryName, new { Class = "form-control" })
                    @Html.ValidationMessageFor(m => m.CategoryName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-12 col-sm-12">
                <label asp-for="Description" class="col-md-3 col-sm-3 control-label"></label>
                <div class="col-md-9 col-sm-9">
                    @Html.TextBoxFor(m => m.Description, new { Class = "form-control" })
                </div>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("_ModalFooter", new ModalFooter { SubmitButtonText = "Save" })
}













