@model IEnumerable<OrderModel>
@using FashionBoutik.Models

<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head"> Orders</div>
    <div class="panel-body">
        @*<div class="btn-group">
            <a href="/Admin/Order/Add" id="createBrand" class="btn btn-primary"
               data-toggle="modal" data-target="#modal-action">
                <i class="glyphicon glyphicon-plus"></i>  New
            </a>
        </div>*@
        <div class="top-buffer"></div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <td>Customer/td>
                    <td>Name</td>
                    <td>Description</td>
                    <td>Status</td>
                    <td>Delivery Date</td>
                    <td>Products</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.BuyerId</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>
                        @if (item.Delivered)
                        {
                            <span>Delivered</span>
                        }
                    </td>
                    <td>@item.DeliveryDate</td>
                    <td>@string.Join(',', item.OrderItems.Select(p => p.Name).ToArray()))</td>
                    <td>
                        <a id="editOrder" class="btn btn-info"
                           data-toggle="modal" data-target="#modal-action"
                           asp-area="Admin" asp-controller="Order" asp-action="Edit" asp-route-id="@item.Id">
                            <i class="glyphicon glyphicon-pencil"></i>  Edit
                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action", AreaLabeledId = "modal-action-label" })