<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Fashion Models">
    <title>@ViewBag.Title</title>

    <link href="@Url.Content("~/css/Site.min.css")" rel="stylesheet" />
    @RenderSection("Styles", false)
    <link href="@Url.Content("~/css/full_screen_preview.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/prettify.min.css")" rel="stylesheet" />

    @*For social buttons*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav id="login">
            @Html.Partial("_LogOnPartial")
        </nav>
        <span>
            <h1 class="stylishHeader">New Fashion </h1>
            <h2 class="stylishHeader">your fashion revolution </h2>
        </span>
        <nav>
            <ul>
                <li>@Html.ActionLink("Business style", "Index", "Business")</li>
                <li>@Html.ActionLink("Furshet style", "Index", "Furshet")</li>
                <li>@Html.ActionLink("Season clothes", "Index", "Season")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
            </ul>
        </nav>
    </header>

    <div class="content-body">
        @RenderBody()
    </div>

    <footer>
        <h4 class="text-center">@Html.Raw(string.Format("{0} {1} {2}", "lana-soft", "&copy;", DateTime.Now.Year))</h4>
    </footer>

    <script src="~/Scripts/jquery.js"></script>

    @RenderSection("scripts", false)

    <script src="@Url.Content("~/Scripts/prettify.js")" type="text/javascript"></script>
 </body>
