@model FashionBoutik.Models.LogOnModel

@{
    ViewBag.Title = "Login";
}

@Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="top-buffer"></div>
        <div class="panel panel-primary">
            <div class="panel-heading">Login</div>
            <div class="panel-body">
                    @using (Html.BeginForm())
                    {
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.UserName, new { Class = "col-md-4 control-label" })
                            <div class="col-md-5">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", required = "required", placeHolder = "User Name" })
                                @*@Html.ValidationMessageFor(m => m.UserName, new { @class= "text-danger" })*@
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { Class = "col-md-4 control-label" })
                            <div class="col-md-5">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", required = "required", placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { Class = "col-md-4 control-label" })
                            <div class="col-md-5">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", required = "required", placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.RememberMe, new { Class = "col-md-4 control-label" })
                            <div class="col-md-6">
                                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "checkbox" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary">Log in</button>
                            </div>
                        </div>
                    }
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>