@model IEnumerable<ProductModel>
@using FashionBoutik.Models
@using System.Collections.Generic


<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head"> Products</div>
    <div class="panel-body">
        <div class="btn-group">
            <a href="/Admin/Product/Add" id="createproduct" class="btn btn-primary"
               data-toggle="modal" data-target="#modal-action">
                <i class="glyphicon glyphicon-plus"></i>  New
            </a>
        </div>
        <div class="top-buffer"></div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Description</td>
                    <td>Image</td>
                    <td>Status</td>
                    <td>Category</td>
                    <td>Brand</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>
                        @*<img src="@Url.Content(product.Images)" height="20" />*@
                    </td>
                    <td>@product.Attachments</td>
                    <td>@product.Status</td>
                    <td>@product.Category?.CategoryName</td>
                    <td>@product.Brand?.Name</td>

                    @*<td>@product.SimilarProducts</td>
                    <td>
                        <a href="/api/products/@product.Id/Edit" class="btn btn-info"
                           data-toggle="modal" data-target="#modal-action">
                            <i class="glyphicon glyphicon-pencil"></i>  Edit
                        </a>
                    </td>*@
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@Html.Partial("_Modal", new { ID = "#modal-action", AreaLabeledId = "#modal-action-label" })
